DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.chzunmbdqywleaqxbsqw.supabase.co:5432/postgres
APP_NAME=CreditShield Backend
APP_ENV=development
# Setu AA v2 Configuration
SETU_BASE_URL=https://fiu-sandbox.setu.co
SETU_PRODUCTION_BASE_URL=https://fiu.setu.co
SETU_CLIENT_ID=
SETU_CLIENT_SECRET=
SETU_PRODUCT_INSTANCE_ID=
SETU_TOKEN_URL=https://orgservice-prod.setu.co/v1/users/login
SETU_CONSENT_PATH=/v2/consents
SETU_CONSENT_GET_PATH_TEMPLATE=/v2/consents/{request_id}
SETU_SESSIONS_PATH=/v2/sessions
SETU_SESSIONS_GET_PATH_TEMPLATE=/v2/sessions/{session_id}
SETU_REQUEST_TIMEOUT_SECONDS=30
